body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #1b1233;
  color: white;
}

header {
  background: #f5b800;
  color: #1b1233;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

header h1 {
  font-size: 20px;
  margin: 0;
  position: relative;
  left: -200px;
}

nav {
  display: flex;
  gap: 10px;
  position: relative;
  right: -200px;
}

nav a {
  color: #1b1233;
  text-decoration: none;
}

.timeline {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px 0 80px;
  position: relative;
}

.title {
  color: #f5b800;
  font-size: 22px;
  padding-top: 40px;
  border-bottom: 2px solid #f5b800;
  padding-bottom: 5px;
}

h3 {
  color: #f5b800;
  font-size: 16px;
  padding-top: 20px;
}

p {
  font-size: 14px;
  color: #ddd;
  padding: 4px 0 10px;
}

.linia {
  width: 5px;
  height: 1900px;
  background-color: #f5b800;
  position: absolute;
  left: 50px;
  top: 1px;
}

.krujok {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 33px;
  z-index: 1;
}
footer > p {
  font-weight: 600;
  display: flex;
  justify-content: center;
  color: #1b1233;
  font-size: 25px;
  margin: 0;
}
footer > h2 {
  display: flex;
  justify-content: center;
  color: #1b1233;
  margin: 0;
}
footer {
  background-color: #f5b800;
}
